<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/script.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <h1 id="title">Zip News</h1>
        <a id="link" href="http://127.0.0.1:5000/">http://127.0.0.1:5000/</a>
        <p id="text">Quick News is an innovative news app designed to keep users updated on the latest happenings around the world.
             With a sleek and intuitive interface, the app presents random news articles from various sources, ensuring users are 
             always informed. But that's not all; Quick News also offers a unique feature that allows users to go through highlighted keywords 
             or phrases within an article. This feature enables users to focus on the information that is most relevant to the article and gain 
             a deeper understanding of the news they consume. With Quick News, staying informed has never been more convenient or engaging.</p>
        <button class="btn random">Randomize</button>
        <button class="btn analyze">Analyze</button>
    </main>
</body>
</html>